@model System.Collections.Generic.List<MomentumWeb.Models.StockQuarter>
@{
    ViewBag.Title = "Index";
}
<style>
.a thead td{
    border-bottom:1px solid #333;
    font-weight:bold;
}
.a td{
    padding-left:30px;
}
</style>

<h2>
    Momentum list for @DateTime.Now.Date.ToShortDateString()</h2>
    <h3>Minimum volume of @ViewBag.MinVol</h3>
<table class="a">
    <thead>
        <tr>
            <td>
                Company
            </td>
            <td>
                Ticker
            </td>
            <td>
                Qtr 1
            </td>
            <td>
                Qtr 2
            </td>
            <td>
                Qtr 3
            </td>
            <td>
                Qtr 4
            </td>
            <td>
                Half 1
            </td>
            <td>
                Half 2
            </td>
            <td>
                Year
            </td>
            <td>
                Avg Volume/day
            </td>
        </tr>
    </thead>
    @foreach (var quarter in Model)
    { 
        <tr>
            <td>@quarter.FullName
            </td>
            <td>@quarter.Ticker
            </td>
            <td>
                @if (quarter.Quarter1Top5)
                {
                    <b>@quarter.Quarter1Move.ToString("0.00")</b>
                }
                else
                { 
                    @quarter.Quarter1Move.ToString("0.00")
                }
            </td>
            <td>
                @if (quarter.Quarter2Top5)
                {
                    <b>@quarter.Quarter2Move.ToString("0.00")</b>
                }
                else
                { 
                    @quarter.Quarter2Move.ToString("0.00")
                }
            </td>
            <td>
                @if (quarter.Quarter3Top5)
                {
                    <b>@quarter.Quarter3Move.ToString("0.00")</b>
                }
                else
                { 
                    @quarter.Quarter3Move.ToString("0.00")
                }
            </td>
            <td>
                @if (quarter.Quarter4Top5)
                {
                    <b>@quarter.Quarter4Move.ToString("0.00")</b>
                }
                else
                { 
                    @quarter.Quarter4Move.ToString("0.00")
                }
            </td>
            <td>
                @if (quarter.Half1Top5)
                {
                    <b>@quarter.Half1Move.ToString("0.00")</b>
                }
                else
                { 
                    @quarter.Half1Move.ToString("0.00")
                }
            </td>
            <td>
                @if (quarter.Half2Top5)
                {
                    <b>@quarter.Half2Move.ToString("0.00")</b>
                }
                else
                { 
                    @quarter.Half2Move.ToString("0.00")
                }
            </td>
            <td>
                @if (quarter.YearTop5)
                {
                    <b>@quarter.YearMove.ToString("0.00")</b>
                }
                else
                { 
                    @quarter.YearMove.ToString("0.00")
                }
            </td>
            <td>@quarter.AverageVolumeTraded.ToString("0.00")
            </td>
        </tr>
    }
</table>
