@model System.Collections.Generic.List<MomentumWeb.Models.StockQuarter>
@{
    ViewBag.Title = "Index";
}
<h2>
    Momentum list for @DateTime.Now.Date.ToShortDateString()</h2>
<table style="width:60%;">
    <thead style="font-weight:bold;">
        <tr>
            <td>
                Company
            </td>
            <td>
                Ticker
            </td>
            <td>
                Qtr 1
            </td>
            <td>
                Qtr 2
            </td>
            <td>
                Qtr 3
            </td>
            <td>
                Qtr 4
            </td>
            <td>
                Year
            </td>
        </tr>
    </thead>
    @foreach (var quarter in Model)
    { 
        <tr>
            <td>@quarter.FullName
            </td>
            <td>@quarter.Ticker
            </td>
            <td>
                @if (quarter.Quarter1Top5)
                {
                    <b>@quarter.Quarter1Move.ToString("0.00")</b>
                }
                else
                { 
                    @quarter.Quarter1Move.ToString("0.00")
                }
            </td>
            <td>
                @if (quarter.Quarter2Top5)
                {
                    <b>@quarter.Quarter2Move.ToString("0.00")</b>
                }
                else
                { 
                    @quarter.Quarter2Move.ToString("0.00")
                }
            </td>
            <td>
                @if (quarter.Quarter3Top5)
                {
                    <b>@quarter.Quarter3Move.ToString("0.00")</b>
                }
                else
                { 
                    @quarter.Quarter3Move.ToString("0.00")
                }
            </td>
            <td>
                @if (quarter.Quarter4Top5)
                {
                    <b>@quarter.Quarter4Move.ToString("0.00")</b>
                }
                else
                { 
                    @quarter.Quarter4Move.ToString("0.00")
                }
            </td>
            <td>
                @if (quarter.YearTop5)
                {
                    <b>@quarter.YearMove.ToString("0.00")</b>
                }
                else
                { 
                    @quarter.YearMove.ToString("0.00")
                }
            </td>
        </tr>
    }
</table>
